header {
    padding: 1rem 0;

    .container {
        flex-direction: row;
        justify-content: space-around;

        .logo {
            width: 20%;

            @media screen and (max-width:520px){
                width: 30%;
            }

            img {
                width: 100%;
            }
        }

        .menu-section {
            display: flex;
            width: 30%;
            justify-content: space-between;

            @media screen and (max-width:520px){
                width: 60%;
            }

            a {
                display: grid;
                width: 48%;
    
                img {
                    display: grid;
                    width: 100%;
                    max-width: 210px;
                    margin: auto;
                }
            }
        }
    }
}